.kunfu-container{
    display: grid;
   grid-template-columns: 4fr 1fr;
    background-color: #DDEDF9;
}
.kunfu-player-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.profile-container{
    background-color: #7E2F81;
    color: white;
}
.kunfu-title{
    display: flex;
    align-content: center;
    text-transform: uppercase;
}
.title{
    font-size: 25px;
    color: tomato;
}
.icon {
    font-size: 30px;
    margin-top: 23px;
    margin-right: 10px;
    color: #7E2F81;
}
@media  screen and (max-width: 600px) {
    .kunfu-player-container{
        display: block;
    }
    .kunfu-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }
